@import "./components/_colors";
@import "./components/_animations";
@import "./components/_general";
@import "./components/WelcomePage.scss";
@import "./components/MainPage.scss";
@import "./components/ChartSelection.scss";
@import "./components/ChartCreatorPage.scss";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Karla", sans-serif;
  background-image: url("../img/chartsBgMobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgb(222,222,222);
  width: 100%;
  height: 100%;
}

html {
  font-size: 62.5%;
}
