.chart-selection {
  border-radius: 8px;
  width: 280px;
  height: 280px;
  margin: 1rem;
  background-color: $lightBg;
  display: grid;
  grid-template-columns: repeat(3, 140px);
  gap: 10px;
  overflow: hidden;
  overflow-x: auto;
  scroll-behavior: smooth;
  &__chart {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 110px;
    height: 110px;
    border-radius: 8px;
    box-shadow: 3px 3px 5px 1px black;
    cursor: pointer;

    &:hover {
      box-shadow: 3px 3px 5px 3px black;
    }
  }

  &__title {
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 2;
    font-weight: bold;
    font-size: 1.25rem;
    border-bottom: 1px solid black;
    user-select: none;
  }

  &__chart-animation--3 {
    margin-top: 1rem;
    width: 80px;
    height: 80px;
  }

  &__chart-animation--4 {
    margin-top: 3rem;
  }
}
